<div class="page">
  <div class="header grey-600">
    <div class="left">
      <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
    </div>
    <h1 class="title align-center">Configurar jogo</h1>
  </div>
  <div class="content has-header">
    <form>
      <div class="list" id="list-config-colors">
        <div class="item ${backgroundColor}" data="colors">
          <label>${title}</label>
          <input type="text" placeholder="quantidade">
          <input type="text" placeholder="pontuação">
        </div>
        <div class="item">
          <button class="green radius font-share big full">Login user</button>
        </div>
      </div>
    </form>
  </div>
</div>