<div class="font-titan">
  <span class="text-yellow-300">P</span>
  <span class="text-green-300">e</span>
  <span class="text-blue-300">g</span>
  <span class="text-red-300">a</span>
  <br>
  <span class="text-yellow-300">V</span>
  <span class="text-green-300">a</span>
  <span class="text-blue-300">r</span>
  <span class="text-red-300">e</span>
  <span class="text-yellow-300">t</span>
  <span class="text-green-300">a</span>
  <span class="text-blue-300">s</span>
  <span class="text-red-300">!</span>
</div>