<div class="page">
  <div class="header grey-600">
    <div class="left">
      <button class="icon ion-ios-arrow-back" onclick="backPage()"></button>
    </div>
    <h1 class="title align-center">Regras</h1>
  </div>
  <div class="content has-header content-rules">
    <div class="padding justify">
      <p>O pega-varetas é um antigo jogo de destreza manual.</p>

      <p>Na variante mais comum, consiste em várias varetas coloridas (de aproximadamente 20 cm) e uma vareta preta, e pode ser jogado por 2 a 6 jogadores. No início do jogo, o feixe de varetas é jogado ao acaso na mesa, para que os jogadores tentem pegar as varetas de sua respectiva cor.</p>
      
      <p>Cada jogador deve, no seu turno, tentar retirar quantas varetas puder sem que nenhuma das outras se mova. Quando essa tentativa for frustrada, passa a ser a vez do próximo jogador. As varetas são pontuadas de acordo com as cores e há uma vareta especial, de cor preta, que quando apanhado pode ser utilizado para ajudar a retirar as demais.</p>
      
      <p>De modo geral as varetas podem ter a seguinte pontuação:</p>
      
      <table class="border-grey-600 table">
        <tr>
          <th>Cor</th>
          <th>Pontuação <span class="text-grey-600">*</span></th>
          <th>Quantidade <span class="text-grey-600">**</span></th>
        </tr>
        <tr>
          <td>Amarelo</td>
          <td>05 pontos</td>
          <td>12 varetas</td>
        </tr>
        <tr>
          <td>Verde</td>
          <td>10 pontos</td>
          <td>6 varetas</td>
        </tr>
        <tr>
          <td>Azul</td>
          <td>35 pontos</td>
          <td>6 varetas</td>
        </tr>
        <tr>
          <td>Vermelho</td>
          <td>50 pontos</td>
          <td>12 varetas</td>
        </tr>
        <tr>
          <td>Preta</td>
          <td>100 pontos</td>
          <td>1 vareta</td>
        </tr>
      </table>

      <p class="small">* A pontuação pode ser definidas pelos jogadores</p>
      <p class="small">** A quantidade de varetas pode variar de acordo com o fabricante</p>

      <p class="see-more">
        <b>Veja mais:</b>
        <a class="link" href="https://pt.wikipedia.org/wiki/Pega_Varetas">Pega Varetas - Wikipedia</a>
        <a href="http://tempojunto.com/2016/09/29/pega-vareta-e-um-jogo-que-estimula-a-paciencia-e-a-coordenacao-motora-fina-das-criancas/">Pega-vareta é um jogo que estimula a paciência e a coordenação motora fina das crianças</a>
      </p>
    </div>
  </div>
</div>