.font-titan {
  font-family: 'Titan One', cursive;
}
.font-share {
  font-family: 'Share', cursive;
}
h3 {
  font-size: 40px;
  font-weight: normal;
}
.header-players {
  padding-bottom: 25px;
}
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #757575;
  position: absolute;
  margin-top: -29px;
}
.player {
  margin: 0 3px;
}

.active-player {
  background-color: #757575!important;
  color: #FFF;
}